<!DOCTYPE html>

<html>
<head>
  <<template "temp/baseFile.html" .>>
  <title>登录</title>
</head>

<body class="bg-indigo-1">
  <div id="app" style="width: 400px;margin: 0 auto;margin-top: 200px;" class="bg-white br-5 hidden">
    <div class="p-tb-30 text-center text-24 color-white bg-indigo">
      <b>SC大学图书管理系统</b>
    </div>
    <section class="p-20 text-center">
      <p class="text-20">登录</p>
      <p class="color-grey text-14 pt-15">输入你的用户名和密码通过验证</p>
      <div class="pt-20">
        <div class="pt-20"><input style="text-align: center;" type="text" v-model="formData.admin_name" placeholder="请输入您的用户名"></div>
        <div class="pt-20"><input style="text-align: center;" type="password" v-model="formData.password" placeholder="请输入您的密码"></div>
        <div class="pt-30"><div @click="login" class="btn">登录</div> </div>
      </div>
    </section>
  </div>
  <script src="/static/js/login/login.js"></script>
</body>
</html>
