::-webkit-scrollbar { width: 5px; background-color: #eee; border-radius: 3px; }

::-webkit-scrollbar-thumb { background: #bbb; border-radius: 3px; }

::-webkit-scrollbar { width: 5px; height: 5px; }

* { padding: 0; margin: 0; color: inherit; font-size: inherit; font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", 'sans-serif'; -webkit-overflow-scrolling: touch; }

html, body { width: 100%; overflow-x: hidden; }

a, button, input, textarea { -webkit-appearance: none; -webkit-tap-highlight-color: rgba(255, 0, 0, 0); -moz-tap-highlight-color: rgba(255, 0, 0, 0); outline: none; color: inherit; text-decoration: none; border: none; }

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset !important; }

.ub { align-items: flex-start; display: flex; }
.ub > .ub-f1 { flex: 1; }
.ub > .ub-f2 { flex: 2; }
.ub > .ub-f3 { flex: 3; }
.ub .self-start { align-self: flex-start; }
.ub .self-end { align-self: flex-end; }
.ub .self-center { align-self: center; }

.ub.ub-d-ver { flex-direction: column; }

.ub.ub-wrap { flex-wrap: wrap; }

.ub.ub-start { justify-content: start; }

.ub.ub-end { justify-content: end; }

.ub.ub-center { justify-content: center; }

.ub.ub-between { justify-content: space-between; }

.ub.ub-around { justify-content: space-around; }

.ub.ub-a-center { align-items: center; }

.ub.ub-a-start { align-items: flex-start; }

.ub.ub-a-end { align-items: flex-end; }

.ub.ub-a-stretch { align-items: stretch; }

.ub.ub-c-start { align-content: flex-start; }

.ub.ub-c-end { align-content: flex-end; }

.ub.ub-c-center { align-content: center; }

.ub.ub-c-around { align-content: space-around; }

.ub.ub-c-between { align-content: space-between; }

.ub.ub-c-stretch { align-content: stretch; }

.clearfix:after { content: ''; display: table; width: 100%; clear: both; }

.text-10 { font-size: 10px; }

.text-12 { font-size: 12px; }

.text-14 { font-size: 14px; }

.text-16 { font-size: 16px; }

.text-18 { font-size: 18px; }

.text-20 { font-size: 20px; }

.text-22 { font-size: 22px; }

.text-24 { font-size: 24px; }

.text-26 { font-size: 26px; }

.text-28 { font-size: 28px; }

.text-24 { font-size: 24px; }

.text-32 { font-size: 32px; }

.text-34 { font-size: 34px; }

.text-36 { font-size: 36px; }

.text-38 { font-size: 38px; }

.line-h-14 { line-height: 14px; }

.line-h-16 { line-height: 16px; }

.line-h-18 { line-height: 18px; }

.line-h-20 { line-height: 20px; }

.line-h-22 { line-height: 22px; }

.line-h-24 { line-height: 24px; }

.line-h-26 { line-height: 26px; }

.line-h-28 { line-height: 28px; }

.line-h-30 { line-height: 30px; }

.line-h-32 { line-height: 32px; }

.line-h-34 { line-height: 34px; }

.line-h-36 { line-height: 36px; }

.line-h-38 { line-height: 38px; }

.line-h-40 { line-height: 40px; }

.text-white { color: #fff; }

.bg-white { background-color: #fff; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-justify { text-align: justify; }

.font-normal { font-weight: normal; }

.font-bold { font-weight: bold; }

.text-underline { text-decoration: underline; }

.text-ellipsis { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }

.b-1 { border: 1px solid #EAEAEA; }

.bb-1 { position: relative; }
.bb-1:after { content: ""; position: absolute; left: 0; bottom: -1px; width: 100%; height: 1px; background-image: linear-gradient(0deg, transparent 25%, #EAEAEA 25%, #EAEAEA 75%, transparent 75%); background-repeat: repeat-x; background-size: 1px 1px; z-index: 0; }

.bt-1 { position: relative; }
.bt-1:before { content: ""; position: absolute; left: 0; top: -1px; width: 100%; height: 1px; background-image: linear-gradient(0deg, transparent 50%, #EAEAEA 50%); background-repeat: repeat-x; background-size: 1px 1px; }

.br-1 { border-right: 1px solid #EAEAEA; }

.bl-1 { border-left: 1px solid #EAEAEA; }

.w-100 { width: 100%; }

.fixed-top { position: fixed; top: 0; left: 0; width: 100%; box-sizing: border-box; z-index: 100; }

.fixed-bottom { position: fixed; bottom: 0; left: 0; width: 100%; box-sizing: border-box; z-index: 100; }

.float-l { float: left; }

.float-r { float: right; }

.display-b { display: block; }

.display-ib { display: inline-block; }

.relative { position: relative; }

.absolute { position: absolute; }

.obj-cover { object-fit: cover; }

.obj-contain { object-fit: contain; }

.col2:after { content: ''; display: table; width: 100%; clear: both; }
.col2 .col { width: 50%; display: block; float: left; box-sizing: border-box; }

.col3:after { content: ''; display: table; width: 100%; clear: both; }
.col3 .col { width: 33.3%; display: block; float: left; box-sizing: border-box; }

.col4:after { content: ''; display: table; width: 100%; clear: both; }
.col4 .col { width: 25%; display: block; float: left; box-sizing: border-box; }

.col5:after { content: ''; display: table; width: 100%; clear: both; }
.col5 .col { width: 20%; display: block; float: left; box-sizing: border-box; }

.col6:after { content: ''; display: table; width: 100%; clear: both; }
.col6 .col { width: 16.6%; display: block; float: left; box-sizing: border-box; }

.margin-auto { margin: 0 auto; }

.no-wrap { white-space: nowrap; }

.pointer { cursor: pointer; }

/*# sourceMappingURL=base.css.map */
.p-5{padding: 5px;}
.pt-5{padding-top: 5px;}
.pb-5{padding-bottom: 5px;}
.pl-5{padding-left: 5px;}
.pr-5{padding-right: 5px;}
.p-tb-5{padding-top: 5px;padding-bottom: 5px;}
.p-lr-5{padding-left: 5px;padding-right: 5px;}
.m-5{margin: 5px;}
.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}
.ml-5{margin-left: 5px;}
.mr-5{margin-right: 5px;}
.m-tb-5{margin-top: 5px;margin-bottom: 5px;}
.m-lr-5{margin-left: 5px;margin-right: 5px;}

.p-10{padding: 10px;}
.pt-10{padding-top: 10px;}
.pb-10{padding-bottom: 10px;}
.pl-10{padding-left: 10px;}
.pr-10{padding-right: 10px;}
.p-tb-10{padding-top: 10px;padding-bottom: 10px;}
.p-lr-10{padding-left: 10px;padding-right: 10px;}
.m-10{margin: 10px;}
.mt-10{margin-top: 10px;}
.mb-10{margin-bottom: 10px;}
.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}
.m-tb-10{margin-top: 10px;margin-bottom: 10px;}
.m-lr-10{margin-left: 10px;margin-right: 10px;}

.p-15{padding: 15px;}
.pt-15{padding-top: 15px;}
.pb-15{padding-bottom: 15px;}
.pl-15{padding-left: 15px;}
.pr-15{padding-right: 15px;}
.p-tb-15{padding-top: 15px;padding-bottom: 15px;}
.p-lr-15{padding-left: 15px;padding-right: 15px;}
.m-15{margin: 15px;}
.mt-15{margin-top: 15px;}
.mb-15{margin-bottom: 15px;}
.ml-15{margin-left: 15px;}
.mr-15{margin-right: 15px;}
.m-tb-15{margin-top: 15px;margin-bottom: 15px;}
.m-lr-15{margin-left: 15px;margin-right: 15px;}

.p-20{padding: 20px;}
.pt-20{padding-top: 20px;}
.pb-20{padding-bottom: 20px;}
.pl-20{padding-left: 20px;}
.pr-20{padding-right: 20px;}
.p-tb-20{padding-top: 20px;padding-bottom: 20px;}
.p-lr-20{padding-left: 20px;padding-right: 20px;}
.m-20{margin: 20px;}
.mt-20{margin-top: 20px;}
.mb-20{margin-bottom: 20px;}
.ml-20{margin-left: 20px;}
.mr-20{margin-right: 20px;}
.m-tb-20{margin-top: 20px;margin-bottom: 20px;}
.m-lr-20{margin-left: 20px;margin-right: 20px;}

.p-25{padding: 25px;}
.pt-25{padding-top: 25px;}
.pb-25{padding-bottom: 25px;}
.pl-25{padding-left: 25px;}
.pr-25{padding-right: 25px;}
.p-tb-25{padding-top: 25px;padding-bottom: 25px;}
.p-lr-25{padding-left: 25px;padding-right: 25px;}
.m-25{margin: 25px;}
.mt-25{margin-top: 25px;}
.mb-25{margin-bottom: 25px;}
.ml-25{margin-left: 25px;}
.mr-25{margin-right: 25px;}
.m-tb-25{margin-top: 25px;margin-bottom: 25px;}
.m-lr-25{margin-left: 25px;margin-right: 25px;}

.p-30{padding: 30px;}
.pt-30{padding-top: 30px;}
.pb-30{padding-bottom: 30px;}
.pl-30{padding-left: 30px;}
.pr-30{padding-right: 30px;}
.p-tb-30{padding-top: 30px;padding-bottom: 30px;}
.p-lr-30{padding-left: 30px;padding-right: 30px;}
.m-30{margin: 30px;}
.mt-30{margin-top: 30px;}
.mb-30{margin-bottom: 30px;}
.ml-30{margin-left: 30px;}
.mr-30{margin-right: 30px;}
.m-tb-30{margin-top: 30px;margin-bottom: 30px;}
.m-lr-30{margin-left: 30px;margin-right: 30px;}