@import url("//at.alicdn.com/t/font_1876609_qi6y5ph8ewd.css");
@import url("base.css");
body{color: #6c757d;font-size: 14px;}
.color-indigo{color:rgba(114,124,245,1)}
.color-purple{color: rgba(107,94,174,1);}
.bg-indigo{background-color:rgba(114,124,245,1)}
.bg-purple{background-color: rgba(107,94,174,1);}
.bg-indigo-1{background-color:rgba(114,124,245,0.1)}
.bg-purple-1{background-color: rgba(107,94,174,0.1);}
.color-white{color: white;}
.color-black,.color-black *{color: #6c757d;}
.color-grey,.color-grey *{color: #98a6ad;}

.br-5{border-radius: 5px;}
.hidden{overflow: hidden;}
.btn{background-color: rgba(114,124,245,1);color: #fff;padding: 0 20px;line-height: 40px;height: 40px;box-sizing: border-box;display: inline-block;border-radius: 3px;cursor: pointer;}
.btn.small{height: 28px;line-height: 28px;padding: 0 10px;}
.btn.small.blue{background-color: #2c8ef8;}
.btn.small.purple{background-color: #6b5eae;}
.btn.small.red{background-color: #fa5c7c;}
.btn.small.orange{background-color: #fd7e14;}
.btn.small.teal{background-color: #02a8b5;}
.btn.small.green{background-color: #0acf97;}

input{display: block;width: 100%;border-radius: 3px;border: 1px solid #dee2e6;height: 40px;box-sizing: border-box;font-size: 12px;padding: 0 15px;}
input.search{width: 200px;margin-right: -1px;border-radius: 0px;}

.left-side-menu{width: 300px;z-index: 10;background: linear-gradient(135deg,#8f75da 0,#727cf5 60%);bottom: 0;position: fixed;-webkit-transition: all .2s ease-out;transition: all .2s ease-out;top: 0;}
.left-side-menu *{color: rgba(255,255,255,0.8);}
.left-side-menu .menu{color: rgba(255,255,255,0.8);font-size: 16px;}
.content-page {margin-left: 300px;padding: 20px;min-height: 100vh;box-sizing: border-box; overflow-x: hidden;overflow-y: scroll;background-color: #f7f7f7;}
.ub.ub-d-ver>*{width: 100%;box-sizing: border-box;}
.table .tr{padding: 15px;border-bottom: 1px solid #dee2e6;}
.autoLoad{overflow-x: hidden;overflow-y: auto;}
