<!DOCTYPE html>
<html lang="en">
<head>
    <<template "temp/baseFile.html" .>>
    <script src="/static/plugin/html2pdf.js"></script>
    <title>催还列表</title>
</head>
<body>
    <<template "temp/sideMenu.html" .>>
    <div id="app" class="content-page">
        <div class="bg-white p-30">
            <div class="bb-1 text-20 pb-10 mb-30"><b>催还列表</b></div>
            <div class="ub ub-ac mb-30">
                <p class="ub-f1"></p>
                <input class="search" v-model.number="formData.book_name" type="text" placeholder="请输入书籍名称">
                <input class="search" v-model="formData.student_id" type="text" placeholder="请输入学号">
                <div @click="research()" class="btn ml-10">搜索</div>
                <div @click="reset" class="btn ml-10">重置</div>
            </div>
            <section class="text-center table">
                <div class="ub bg-purple-1 p-15">
                    <div style="width: 40px;">编号</div>
                    <div class="ub-f2">书籍</div>
                    <div class="ub-f1">作者</div>
                    <div class="ub-f1">借阅者</div>
                    <div style="width: 180px;">借阅/应还时间</div>
                    <div style="width: 40px;">天数</div>
                    <div style="width: 60px;">操作</div>
                </div>
                <div style="min-height:60vh;max-height: 70vh;overflow-y: auto;">
                    <template v-if="list&&list.length>0">
                        <div v-for="(item,index) in list" class="ub p-tb-10 tr">
                            <div style="width: 40px;" v-text="item.borrow_id"></div>
                            <div class="ub-f2" v-text="'《'+item.book_name+'》('+item.book_id+')'"></div>
                            <div class="ub-f1" v-text="item.book_author"></div>
                            <div class="ub-f1" v-text="item.student_name+'('+item.student_id+')'"></div>
                            <div style="width: 180px;" v-text="formateDateTime(item.start_time)+' / '+formateDateTime(item.end_time)"></div>
                            <div style="width: 40px;" v-text="item.borrow_days">天数</div>
                            <div style="width: 60px;">
                                <span v-if="item.borrow_state==0" class="btn small green">已还</span>
                                <span v-else @click="showBorrowInfo(item,index)" class="btn small red">催还</span>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <p class="p-30">没有检索出数据</p>
                    </template>
                </div>
                <pager v-if="pager" :page="pager.page" @change="research" :page-count="pager.page_count"></pager>
            </section>
        </div>
        <popup ref="pop-borrow">
            <div v-if="borrowInfo" style="width: 500px;">
                <section id="borrowInfo" class="p-30">
                    <div class="p-20 bg-indigo-1 text-center">
                        <p class="text-20">{{borrowInfo.book_name}}</p>
                        <p class="pt-20"><span class="mr-30">作者：{{borrowInfo.book_author}}</span><span>￥{{borrowInfo.book_price}}</span></p>
                    </div>
                    <div class="pt-30">
                        <div class="ub ub-ac p-tb-15 bb-1">
                            <p class="ub-f1">借阅人：</p>
                            <span>{{borrowInfo.student_name}}(学号：{{borrowInfo.student_id}})</span>
                        </div>
                        <div class="ub ub-ac p-tb-15 bb-1">
                            <p class="ub-f1">借阅时间：</p>
                            <span>{{formateDateTime(borrowInfo.start_time)}} ~ {{formateDateTime(borrowInfo.end_time)}}，共 {{borrowInfo.borrow_days}} 天</span>
                        </div>
                        <div class="ub ub-ac p-tb-15 bb-1">
                            <p class="ub-f1">超出还书时间：</p>
                            <span><b class="color-red text-18">{{outTime(borrowInfo.end_time)}}</b> 天</span>
                        </div>
                        <div class="text-right pt-30">
                            <p class="color-grey text-18">SC大学图书馆留</p>
                            <p class="pt-10 color-grey">请尽快还书，逾期不还将会影响您在图书馆的信誉</p>
                        </div>
                    </div>
                </section>
                <div class="p-30 text-center">
                    <div @click="downLoad()" class="btn">下载催还单据</div>
                </div>
            </div>
        </popup>
    </div>
    <script src="/static/js/borrow/timeoutList.js"></script>
</body>
</html>