<!DOCTYPE html>
<html lang="en">
<head>
    <<template "temp/baseFile.html" .>>
    <script src="/static/js/z-chart.js"></script>
    <title>最受欢迎的图书近7天借阅情况</title>
</head>
<body>
    <<template "temp/sideMenu.html" .>>
    <div id="app" class="content-page">
        <div class="bg-white p-30">
            <div class="bb-1 text-20 pb-10 mb-30"><b>最受欢迎的图书近7天借阅情况</b></div>
            <div id="chart" style="max-width: 800px;margin: 0 auto;"></div>
        </div>
    </div>
    <script src="/static/js/chart/borrowTime.js"></script>
</body>
</html>