<!DOCTYPE html>
<html lang="en">
<head>
    <<template "temp/baseFile.html" .>>
    <title>学生列表</title>
</head>
<body>
    <<template "temp/sideMenu.html" .>>
    <div id="app" class="content-page">
        <div class="bg-white p-30">
            <div class="ub ub-ac mb-30">
                <p class="ub-f1"></p>
                <input class="search" type="text" placeholder="请输入学号">
                <input class="search" type="text" placeholder="请输入学生姓名">
                <div class="btn">搜索</div>
            </div>
            <section class="text-center table">
                <div class="ub bg-purple-1 p-15">
                    <div class="ub-f1">学号</div>
                    <div class="ub-f1">姓名</div>
                    <div class="ub-f1">性别</div>
                    <div class="ub-f1">年龄</div>
                    <div class="ub-f1">年级</div>
                    <div class="ub-f1">专业</div>
                    <div class="ub-f1">录入管理员</div>
                    <div class="ub-f1">入库时间</div>
                </div>
                <div style="min-height:60vh;max-height: 70vh;overflow-y: auto;">
                    <div class="ub p-tb-10 tr">
                        <div class="ub-f1">1110</div>
                        <div class="ub-f1">fff</div>
                        <div class="ub-f1">rr</div>
                        <div class="ub-f1">rr</div>
                        <div class="ub-f1">r</div>
                        <div class="ub-f1">r</div>
                        <div class="ub-f1">rr</div>
                        <div class="ub-f1">rr</div>
                    </div>
                </div>
                <pager v-if="pager" :page="pager.page" :page-count="pager.page_count"></pager>
            </section>
        </div>
    </div>
    <script src="/static/js/student/studentList.js"></script>
</body>
</html>