<div class="left-side-menu ub ub-d-ver">
    <div class="p-tb-30 text-center">
        <b class="color-white text-26">SC大学图书管理系统</b>
    </div>
    <section class="p-20 menu ub-f1">
        <div class="ub ub-a-center p-tb-15 mt-15">
            <i class="iconfont icon-student text-22 mr-5"></i>
            <p class="ub-f1 text-18">借阅者管理</p>
        </div>
        <div class="pl-30">
            <a href="/student/list" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">学生列表</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
            <a href="/student/new" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">新生入库</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
        </div>
        <div class="ub ub-a-center p-tb-15 mt-15">
            <i class="iconfont icon-books text-22 mr-5"></i>
            <p class="ub-f1 text-18">书籍管理</p>
        </div>
        <div class="pl-30">
            <a href="/book/list" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">书籍列表</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
            <a href="/book/type" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">书籍分类</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
            <a href="/book/new" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">新书入库</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
        </div>
        <div class="ub ub-a-center p-tb-15 mt-15">
            <i class="iconfont icon-borrow text-22 mr-5"></i>
            <p class="ub-f1 text-18">借阅信息管理</p>
        </div>
        <div class="pl-30">
            <a href="/borrow/list" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">借阅列表、还书</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
            <a href="/borrow/list/timeout" class="ub ub-a-center p-tb-10">
                <p class="ub-f1">催还列表</p>
                <i class="iconfont icon-arrow-right text-12"></i>
            </a>
        </div>
    </section>
    <div class="ub ub-a-center mb-10 p-lr-20 pb-30">
        <i class="iconfont icon-guanliyuan text-24 color-white"></i>
        <span class="ub-f1 text-18 p-lr-5">ADMIN</span>
        <a href="/logout" class="iconfont icon-logout text-24"></a>
    </div>
</div>